.reactMarkDown {
}

.reactMarkDown ol {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 1.5em;
}
.reactMarkDown li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.reactMarkDown ol li {
  counter-increment: step-counter 1;
  position: relative;
  padding-left: 3em;
  padding-bottom: 1em;

  line-height: 1.5em;
}

.reactMarkDown ol li::before {
  content: counter(step-counter);
  position: absolute;
  left: 0px;
  top: -0.25em;
  width: 2em;
  height: 2em;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to right, #085078, #85d8ce);
}
.reactMarkDown p {
  margin-top: 0px;
  margin-bottom: 1rem;
}
.reactMarkDown h1 {
  margin-top: 0px;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 30px;
}
.reactMarkDown h2 {
  margin-top: 0px;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 25px;
}
.reactMarkDown h3 {
  margin-top: 0px;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 20px;
}
.reactMarkDown h4 {
  margin-top: 0px;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 18px;
}
.reactMarkDown h5 {
  margin-top: 0px;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 15px;
}
.reactMarkDown h6 {
  margin-top: 0px;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 10px;
}
.reactMarkDown a {
  margin-top: 0px;
  margin-bottom: 0.5rem;
  color: rgb(0, 123, 255);
  text-decoration: none;
  background-color: transparent;
}
